.rtl-version {
  p,
  h1,
  h2,
  .book-description-block,
  .benefits-list,
  .swiper-slide,
  .thin-panel,
  .team-list,
  .opportunities-list
  {
    direction: rtl;
  }

  strong {
    display: block;
    direction: rtl;
  }

  .news-text {
    h2, p {
      direction: ltr;
    }
  }

  .team-photo {
    transform: translate(80px, -5px);
  }

}

.nav-link-rtl {
  .dropdown-content {
    direction: rtl;
  }
  .dropdown-content-language {
    direction: ltr;
  }
}
