.scroll-to-top {
  background: white;
  border-radius: 20px;
  bottom: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: block;
  height: 40px;
  left: calc(50vw - 20px);
  outline: none;
  position: fixed;
  width: 40px;
  z-index: 100;

  svg {
    left: 12px;
    position: absolute;
    top: 14px;
    transform: rotate(180deg);
  }
}
